
.myBackground {
    height: 100vh;
    width: 100%;
    background: linear-gradient(  #009688 17%,#dadbd4 17% );
}

.notification-bg {
    background-color: #8edafc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.clickbg {
    background-color: #dadbd4;
}

.icon-color.fa-solid {
    color: #8edafc;
}

.my-font-color{
    color: rgb(170, 169, 169);
}

.myfont-size {
    font-size: 0.8rem;
}

.app-style {
    background-color: #eaeaea;
    height: calc(100vh - 2rem);
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.myh-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 4.5rem;
    /* border: 1px solid black; */
}

.form-control::placeholder {
    color: gray;
}


.icons {
    margin: 0 0.5rem;
}

.circle {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    margin-right: 1rem;
    background-color: white;
}

.fa-solid {
    font-size: 1.5rem;
    color: gray;
}

.fa-regular {
    font-size: 1.5rem;
    color: gray;
}

.box-contatti {
    height: calc(100vh - 15.5rem);
    border-top-right-radius: 10px;
}

.myborder {
    border-bottom: 1px solid #eaeaea;
}

.box-conversazioni {
    height: calc(100vh - 11rem);
    width: auto;
    background-image: url(./img/mine.jpg);
    border-radius: 10px;
}

.box-mssg {
    max-width: 20rem;
    min-width: 4rem;
    height: auto;
    background-color: #d5f9ba;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.word-break {
    word-wrap: break-word;
}


.mssg-received {
    background-color: white;
}

.mssg-sent {
    background-color: #d5f9ba;
}